.navbar {
  height: 70px;
  padding: 0 45px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background: #ffffff;

  border-bottom: 1px solid #f1dce5;

  box-shadow:
    0 3px 12px rgba(0, 0, 0, 0.05);

  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  font-size: 24px;
  font-weight: 800;
  color: #222;
  cursor: pointer;
}

.logo span {
  color: #ff4081;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 25px;
}

.nav-links a {
  color: #444;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
}

.nav-links a:hover {
  color: #ff4081;
}

.logout-btn {
  border: none;
  padding: 9px 17px;

  border-radius: 6px;

  background: #ff4081;
  color: white;

  font-size: 14px;
  font-weight: 600;

  cursor: pointer;
}

.logout-btn:hover {
  background: #e73370;
}

@media (max-width: 900px) {

  .navbar {
    padding: 0 20px;
  }

  .nav-links {
    gap: 12px;
  }

  .nav-links a {
    font-size: 12px;
  }

}

@media (max-width: 650px) {

  .navbar {
    height: auto;
    padding: 15px;
    flex-direction: column;
    gap: 15px;
  }

  .nav-links {
    flex-wrap: wrap;
    justify-content: center;
  }

}