<nav class="navbar">

  <div
    class="logo"
    routerLink="/home">

    JOB<span>HUB</span>

  </div>


  <div class="nav-links">

    <a routerLink="/home">
      Home
    </a>

    <a routerLink="/jobs">
      Jobs
    </a>

    <a routerLink="/companies">
      Companies
    </a>

    <a routerLink="/applications">
      My Applications
    </a>

    <a routerLink="/profile">
      Profile
    </a>

    <button
      class="logout-btn"
      (click)="logout()">

      Logout

    </button>

  </div>

</nav>